logs
project/project
project/.boot/
project/.ivy/
project/target
target
elasticsearch-data
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/.cache
/.target
